.container {
  min-width: 300px;

  --color-vault: #b77eff;
  --color-wallet: #fece26;
  --color-coverage: #8e8cdf;
}

.legend {
  margin-top: var(--margin-300);
}

.header {
  margin-bottom: var(--margin-400);

  h2 {
    font-size: var(--font-size-600);
    font-weight: var(--font-medium);
  }
  
  h3 {
    font-size: var(--font-size-400);
    color: var(--color-text-400);
  }
}
