.chip {
    display: flex;
    padding: 0 var(--padding-300);
    gap: 0.5rem;
    align-items: center;

    background: linear-gradient(
        to bottom right, 
        var(--color-text-350) 35%, 
        var(--color-text-400) 85%);
    border-radius: var(--border-radius-700);
    box-shadow: 
        0 3px 6px rgba(0,0,0,0.16), 
        0 3px 6px rgba(0,0,0,0.23),
        var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);

    color: var(--color-text-900);

    font-size: var(--font-size-400);
    line-height: var(--line-height-500);
}