.container {
    // To prevent the effect of the section below to overlap the container.
    position: relative;
    z-index: 1;

    // To decrease the empty gap between previous sticky section and the container.
    margin-top: calc(var(--margin-1000) * -1);
}

.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.caption {
    p {
        margin-top: var(--margin-200);
        font-size: var(--font-size-600);
        color: var(--color-text-350);
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: var(--width-1000);

    div {
        display: inline;
    }
}



.tokens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    width: 100%;

}
