@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.token {
    position: relative;

    width: 100%;
    height: 100%;
    min-width: 20rem;
    min-height: 30rem;

    background: linear-gradient(
        to bottom, 
        var(--color-neutral-200) 35%, 
        var(--color-dark-100) 85%);
    border-radius: var(--border-radius-600);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &::after {
        content: "";
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        height: calc(100% - 0.5rem);
        width: calc(100% - 1rem);

        background: linear-gradient(to bottom right, #a166ab, #333399, #5073b8, #2657eb, #2657eb);
        border-radius: calc(2 * var(--border-radius-400));
        z-index: -1;
        animation: animatedGradient 5s ease alternate infinite;
        background-size: 300% 300%;
        mix-blend-mode: screen;
        
        filter: blur(2rem);

        transition: filter 0.5s ease;
    }
      

    &.BTC {
        &::after {
            background: linear-gradient(to bottom right, #f79533, #f37055, hsl(31, 97%, 72%), #ef4e7b);
            background-size: 300% 300%;
            animation: animatedGradient 5s ease alternate infinite;
        }
    }

    &.USDT {
        &::after {
            background: linear-gradient(to bottom right, hsl(142, 71%, 45%), hsl(141, 79%, 85%), hsl(144, 61%, 20%));
            background-size: 300% 300%;
            animation: animatedGradient 5s ease alternate infinite;
        }
    }

    &:hover {
        &::after {
            filter: blur(3rem);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: var(--border-radius-600);
    padding: var(--padding-300) var(--padding-400);
    padding-bottom: var(--padding-50);

    &::before {
        content: "";
        background-color: hsl(291, 29%, 54%);
        position: absolute;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        top: 1rem;
        right: -3rem;
        filter: blur(3rem);
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    &:hover {
        &::before {
            transform: scale(1.1);   
        }
    
    }
}

.BTC {
    .content {
        &::before {
            background-color: hsl(31, 97%, 72%);
        }
    }
}

.USDT {
    .content {
        &::before {
            background-color: hsla(142, 71%, 45%, 60%);
        }
    }
}

.logo {
    position: absolute;
    width: 15rem;

    top: -2rem;
    right: -5rem;

    z-index: 1;

    opacity: 0.4;

    &.BTC {
        opacity: 0.2;
    }
    
    &.USDT {
        opacity: 0.2;
    }
    
}


.header {
    display: flex;
    flex-direction: column;
    width: fit-content;

    margin-top: var(--margin-300);

    z-index: 2;

    h3 {
        --animation-color: #37FF8B;

        color: transparent;
        position: relative;

        font-size: var(--font-size-800);
        font-weight: var(--font-bold);
        line-height: var(--font-size-800);

        -webkit-text-stroke: 1px rgba(255,255,255,0.6);

        .hoverText {
            position: absolute;
            box-sizing: border-box;

            color: var(--animation-color);
            width: 0%;
            inset: 0;
            border-right: 6px solid var(--animation-color);
            overflow: hidden;
            transition: 0.5s;

            -webkit-text-stroke: 1px var(--animation-color);
        }
    }
}

.token:hover {
    .hoverText {
        width: calc(100% + 0.5rem);
        filter: drop-shadow(0 0 23px var(--animation-color))
    }
}

.symbol {
    font-size: var(--font-size-500);
    color: var(--color-text-400);
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-text-800);

    margin-top: auto;
}

.returns {

    // border-bottom: solid 1px var(--color-text-400);
    // padding-bottom: var(--padding-200);
    margin-bottom: var(--padding-200);

    .value {
        font-size: var(--font-size-750);
        font-weight: var(--font-bold);
        line-height: var(--font-size-800);
        
        display: flex;
        flex-direction: row;
    }

    .tag {
        font-size: var(--font-size-500);
        color: var(--color-text-400);
        padding: 0 var(--padding-100);
        border-radius: var(--border-radius-600);
        border: solid 1px var(--color-text-400);
        margin-left: var(--margin-100);
        margin-top: var(--margin-50);
        max-height: var(--line-height-300);
        line-height: var(--line-height-300);
        
    }
}

.label {
    font-size: var(--font-size-500);
    color: var(--color-text-500);
}

.distribution {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    width: 100%;

    .item {
        display: flex;
        flex-direction: column;
    }

    .value {
        font-size: var(--font-size-700);
        font-weight: var(--font-bold);

        color: var(--color-text-700);
    }
}

.action {

    margin-top: var(--margin-300);

    .insurance {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .value {
            font-size: var(--font-size-700);
            font-weight: var(--font-bold);
    
            color: var(--color-text-700);
            line-height: var(--line-height-500);
        }
    }

    .development {
        width: 100%;
        text-align: center;
        color: var(--color-text-600);
        padding-top: var(--padding-50);
    }
}

.actionButton {
    width: 100%;
    margin-top: var(--margin-200);
}

.insuranceInducator {
    background: linear-gradient(
        to right, 
        var(--color-success-800) 30%,
        var(--color-success-700) 60%, 
        var(--color-success-600) 90%,  
    );
}