.formSliderContainer {
  padding-left: var(--padding-200);
  padding-right: var(--padding-200);
}

.sliderEndContent {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -20;
}

.markLabelBase {
  position: absolute;
  width: 0;
  font-size: var(--font-size-300); // text-sm
  display: flex;
  align-items: center;
  cursor: pointer;
}

.markLabelAlignStart {
  justify-content: flex-start;
}

.markLabelAlignCenter {
  justify-content: center;
}

.markLabelAlignEnd {
  justify-content: flex-end;
}

.markLabelActive {
  color: hsl(var(--heroui-foreground-200)); // text-foreground-200
}

.markLabelInactive {
  color: hsl(var(--heroui-foreground-700)); // text-foreground-700
}

.markLabelText {
  &:hover {
    color: hsl(var(--heroui-foreground-200)); // hover:text-foreground-200
  }
}

.trackMarkContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trackMarkDot {
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 9999px; // rounded-full
}

.trackMarkDotPassed {
  background-color: hsl(var(--heroui-primary));
}

.trackMarkDotNotPassed {
  background-color: hsl(var(--heroui-default-300)/0.5);
}

.sliderWrapper {
  max-width: 28rem; // max-w-md
}

.markLabelsContainer {
  width: 100%; // w-full
  position: relative; // relative
} 