.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zeroContent {
  font-size: 0.875rem; /* text-sm */
  color: var(--foreground-600);
}

.content {
  font-size: 0.875rem; /* text-sm */
  color: var(--foreground-50);
}

.subContent {
  font-size: 0.75rem; /* text-xs */
  color: var(--foreground-600);
} 