.container {
  display: flex;
  align-items: center;

  animation: appearWithDelay 1s ease-in;
}

.image {
  filter: grayscale(100%) contrast(0.9);
  border-radius: 50%;
  overflow: hidden;
  transform: translateX(calc(var(--avatar-index) * -6px));
}

@keyframes appearWithDelay {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  50% {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }
}
