.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-500);
    padding-bottom: var(--padding-400);
}

.frictionRemover {
    height: var(--padding-400);
    line-height: var(--padding-400);
    width: 100%;
    text-align: center;
    font-size: var(--font-size-200);
    color: var(--color-text-400);
}

button.button {
    white-space: normal;
    height: auto;
    line-height: var(--line-height-500);
    padding: var(--padding-200);
}
