.container {
  display: flex;
  align-items: center;
  font-size: var(--font-size-300);
  justify-content: center;
  width: 100%;
  padding: var(--padding-200);
}

.icon {
  margin-right: var(--margin-100);
}
