.input {
  width: auto;

  input {
    margin: auto !important;
  }
}

.loading {
  padding: 0 var(--padding-200);
}

.asset {
  width: auto;
  margin-right: var(--padding-200);
  flex-shrink: 0;
}

.balance {
  font-size: var(--font-size-300);
  color: var(--color-text-300);
  white-space: nowrap;

  display: flex;
  align-items: center;
}
