.header {
  position: relative;
  display: flex;
  justify-content: stretch;
  padding: var(--padding-50) !important;
  overflow: visible !important;
}

.button {
  color: var(--color-text-500);
}

.buttonActive {
  color: var(--color-text-100);
}
