@import '../../../screen.scss';

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 470px;
  padding: var(--padding-200);
  padding-top: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    height: calc(100% - 6rem);
    width: calc(100% - 2 * 4rem);
    z-index: -1;
    animation: animatedGradient 5s ease alternate infinite;
    background: var(--color-accent-background-gradient);
    border-radius: 0;
    background-size: 300% 300%;
    mix-blend-mode: screen;
    filter: blur(3rem);
    transition: all 0.2s ease;
    opacity: 0.7;

    @media (max-width: $screen-mobile) {
      animation: none;
    }
  }

  &:focus-within:before,
  &:hover:before {
    transform: scale(1.02);
    opacity: 1;
    animation: animatedGradient 10s ease alternate infinite;
  }

  @media (max-width: $screen-mobile) {
    width: 100%;
  }

  @media (max-width: $screen-small-mobile) {
    padding: var(--padding-100);
  }

  h4 {
    text-align: center;
    margin: var(--margin-200);
  }
}

.disableAnimation {
  &:before {
    animation: none;
    background: none;
  }
}

.fragment {
  padding: var(--padding-400);
  padding-top: var(--padding-200);
  padding-bottom: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--margin-200);
  font-size: var(--font-size-300);
  padding: var(--padding-200);
  justify-content: center;
}
