.container {
  .balance,
  h3 {
    font-size: var(--font-size-300);
    color: var(--color-text-400);
  }  
}

.content,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: auto;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-text-200);
  font-size: var(--font-size-900);
}

.loading {
  padding: 0 var(--padding-200);
}

.balance {
  white-space: nowrap;
  display: flex;
  align-items: center;

  &:not(.balanceDisabled):hover {
    cursor: pointer;
    font-size: var(--font-size-300);
    color: var(--color-text-300);
  }
}
