.container {
    margin: 0 0 var(--margin-1100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--margin-500);
    flex-wrap: wrap;
}

.audits {
    display: flex;
    flex-direction: row;
    gap: var(--margin-400);
    align-items: center;
    justify-content: center;
    margin: 0 0 var(--margin-1100);
}

.auditsItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--margin-100);

    svg {
        margin-top: -0.3rem;
    }
}