.network {
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 1rem !important;
  width: 2rem !important;
  max-width: 2rem !important;
  min-width: 2rem !important;
}
