.network {
  margin-right: var(--margin-100);
  padding-left: 0;
  padding-right: 0;
  border-radius: 1rem !important;
  width: 2rem !important;
  max-width: 2rem !important;
  min-width: 2rem !important;
}
