@import '../../screen.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-bottom: var(--margin-100);
  }

  h3 {
    font-size: var(--font-size-600);
    margin-bottom: 0;
  }
}

@media (max-width: $screen-mobile) {
  .header {
    flex-direction: column;
    align-items: center;

    h2, h3 {
      text-align: center;
    }



    div:last-child {
      margin-top: var(--margin-400);
    }
  }
}


.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--margin-800) 0;
  gap: 2rem;
  justify-content: center;
  display: flex;
}

@media (max-width: $screen-mobile) {
  .cards {
    margin-top: var(--margin-600);
  }
}

.body {
  text-align: center;
}
