.infoBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-400);

  opacity: 0;
  & > * {
    width: 100%;
  }
}

.infoBlocks.hide {
  animation: appearDown 0.2s ease-in forwards reverse;
}

.infoBlocks.show {
  animation: appearDown 0.2s ease-in forwards;
}

