.container {
    position: relative;
    display: inline-flex;

    background: linear-gradient(90deg, hsl(var(--nextui-primary) / 0.75) -100%, rgba(255,255,255,0) 100%);

    &::before {
        position: absolute;
        display: block;
        content: '';
        background-color: hsl(var(--nextui-primary));
        width: 4px;
        top: 0;
        left: -4px;
        bottom: 0;
    }
}