.container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 16rem);
    width: 100%;
    background: var(--color-accent-background-gradient);
    border-radius: calc(2 * var(--border-radius-400));
    background-size: 200% 200%;
    mix-blend-mode: screen;
    filter: blur(2rem);
    transition: transform 0.2s ease;
    opacity: 0.15;
  }
}
