.lending-styles {
  --heroui-default: 220 9% 14%; /* Much lighter card background */

  --heroui-default-800: 200 6% 10%; /* Much lighter card background */
  --heroui-default-700: 220 9% 14%; /* Much lighter card borders */

  --heroui-default-500: 240 4% 46%; /* From --color-text-500 */

  --custom-color-success: 120 100% 50%;
  --custom-color-warning: 43 100% 62%;
  --custom-color-alert: 7 100% 61%;
  --custom-color-danger: 7 85% 40%;
}
