.container {
  position: relative;
  min-height: 300vh;
  height: 3000px;
  width: 100%;
}

.sticky {
  display: flex;
  position: sticky;
  top: 0;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 50rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.innerContainer {
  position: relative;

  background: var(--color-background-start);
  border-radius: var(--border-radius-400);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -4px;
    border-radius: inherit;
    background: var(--color-accent-background-gradient);

    animation: animatedgradient 20s ease infinite alternate;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}