@import '../../screen.scss';

.row {
    border-bottom: 1px solid var(--color-default-700);
    transition: background-color 0.15s ease;
    position: relative;

    &:hover {
        background-color: var(--color-default-750);
    }
}

.cell {
    z-index: 3;
}

.cellContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    &:nth-child(1),
    &:nth-child(2) {
        .cellContent {
            justify-content: flex-start;
        }
    }
}

.actions {
    padding: 0.75rem;
    padding-left: 3rem;
    text-align: right;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 4rem);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.15s ease;

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        position: relative;
    }
}

.row:hover {
    .actions {
        animation: gradientShift 0.3s ease forwards;
        opacity: 1;
        z-index: 4;
    }
}

@keyframes gradientShift {
  0% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 4rem);
  }
  15% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 3.5rem);
  }
  25% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 3rem);
  }
  50% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 2.5rem);
  }
  75% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 2rem);
  }
  90% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 1.5rem);
  }
  100% {
    background: linear-gradient(to right, transparent 0%, rgb(24, 24, 27) 1rem); 
  }
}