@import '../../screen.scss';

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1024px; // max-w-7xl
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;

  @media (max-width: $screen-tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $screen-mobile) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.contentSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.loadingContainer {
  display: grid;
  place-items: center;
  padding-top: 9rem; // pt-36
  background-color: transparent;
} 

.status {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  span {
    color: var(--color-success-500);
    font-size: var(--font-size-400);
  }
}